@import url("https://fonts.googleapis.com/css2?family=Ovo&display=swap");

@import "tailwindcss";

:root {
  --orange: #e95a08;
  --first-font: "Ovo", serif;
  --custom-padding: 0 150px;
  --media-padding: 0 30px;
}

body {
  background-color: #f5f7fe;
}

/* hero start */
.hero h1 {
  font-family: var(--first-font);
}

.hero h1 span {
  color: var(--orange);
}
/* Hero end */

/* product start */
.product h2 {
  font-family: var(--first-font);
}

.product h2 span {
  color: var(--orange);
}

.product-card .card button {
  background-color: var(--orange);
  color: white;
  cursor: pointer;
}
/* product end */
